* {
  margin: 0;
  padding: 0;
  line-height: 150%;
}

/* body {
  min-width: 1412px;
} */

.wrapper {
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  
}



.tabs {
  background: rgb(6, 39, 99);
  padding: 10px;
  align-items: center;
  display: flex;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.nav_lab {
  height: 40px;
  margin: 15px;
  font-size: 16px;

  color: white;
  display: flex;

  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.nav_lab:hover {
  color: rgb(114, 173, 240);
}

.glider {
  position: absolute;
  top: 30px;
  left: 15px;
  background: rgb(223, 228, 237);
  width: 130px;
  height: 30px;

  transition: ease 0.3s;
}

#tab1:checked ~ label[for="tab1"] {
  color: rgb(71, 98, 130);
}

#tab2:checked ~ label[for="tab2"] {
  color: rgb(71, 98, 130);
}

#tab3:checked ~ label[for="tab3"] {
  color: rgb(71, 98, 130);
}

#tab4:checked ~ label[for="tab4"] {
  color: rgb(71, 98, 130);
}

#tab1:checked ~ .glider {
  transform: translateX(0px);
}

#tab2:checked ~ .glider {
  transform: translateX(148px);
  width: 40px;
}

#tab3:checked ~ .glider {
  transform: translateX(210px);
  width: 40px;
}

#tab4:checked ~ .glider {
  transform: translateX(256px);
  width: 90px;
}

.sup {
  margin: 3px;
}

.nav {
  width: 100%;
  /* min-width: 1400px; */
  position: fixed;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(6, 39, 99);
  display: flex;
  justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
  align-items: center; /*размещаем по центру*/
  z-index: 5;
}

.logo {
  color: rgb(52, 179, 253);
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 150px;
}

.logo_1 {
  color: rgb(52, 179, 253);
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.nav_box {
  display: flex;
  width: 100% auto;
  margin-bottom: 10px;
  z-index: 5;
  top: 0;
}

.menu {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center; /*размещаем по центру меню*/
}

.link {
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 20px;
}
.link:hover {
  color: rgb(114, 173, 240);
}


.burger {
  display: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 30px;
  z-index: 6;
}

.burger-close span:first-child {
  /* top: 6px;
  transform: rotate(45deg); повернули на 45 градусов */
  opacity: 0; /*скрыли среднюю полоску*/
   
}
.burger-close span:nth-child(2) {
  transform: rotate(45deg); /*повернули на 45 градусов */
}

.burger-close span:nth-child(3) {
  transform: rotate(-45deg); /*повернули на 45 градусов */
}

.burger-close span:last-child {
  /* top: 6px;
  transform: rotate(-45deg); повернули на 45 градусов */
  opacity: 0; /*скрыли среднюю полоску*/
}

.burger span {
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
}

.burger span:first-child {
  top: 0;
}

.burger span:nth-child(2) {
  top: 6px;
}

.burger span:nth-child(3) {
  top: 6px;
}

.burger span:last-child {
  top: 12px;
}




.footer {
  /* flex-shrink: 0; */
  padding: 40px 170px;
  height: 140px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: rgb(6, 39, 99);
  display: flexbox;
  justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
  align-items: center; /*размещаем по центру*/
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.contact,
.phone,
.address,
.footer__bottom,
.text {
  color: white;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px;
  border-bottom-width: 2px; /* Толщина линии внизу */
  border-bottom-style: solid; /* Стиль линии внизу */
  border-bottom-color: white;
}

.footer__bottom {
  padding: 10px 0px;
}


html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.bookings_list {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px 150px;
  align-items: center;
  /* min-width: 800px; */
}

.login_bar {
  margin-top: 120px;
  transition: all 1s ease-out;
}

.service {
  display: flex;
  width: 60px;
  height: 60px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  z-index: 1000;
  background-color: rgb(223, 228, 237);
  align-items: center;
  justify-content: center;
  top: 90%;
  right: 3%;
  position: fixed;
}

.service:hover {
  box-shadow: 0px 0px 5px 0px rgb(175, 174, 174);
}

.serv_name {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgb(223, 228, 237);
  width: 50px;
  height: 50px;
  align-items: end;
  border-radius: 25px;
  top: 8px;
}

/* .fi-rs-comment-alt {
    margin-top: 4px;
  } */

/* .service:hover {
    background-color: rgb(202, 214, 237);
  }

  .serv_name:hover {
    background-color: rgb(202, 214, 237);
  } */

.chat {
  width: 260px;
  height: 430px;
  background-color: rgb(223, 228, 237);
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: absolute;
  top: -380px;
  right: 0px;
  justify-content: space-between;
  z-index: 1000;
  visibility: hidden;
  box-shadow: 0px 0px 5px 0px rgb(175, 174, 174);
}

.chat.is-visible {
  /* display: block; */
  animation: fadeInFromNone 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.chat.is-hidden {
  animation: fadeOutFromBlock 0.3s ease-in-out;
  /* display: none; */
}

.head_chat {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  align-items: center;
  margin-bottom: 10px;
}

.av {
  width:30px;
  height:30px;
}

.chat_field {
  height: 300px;
  width: auto;
  flex-wrap: auto;
  background-color: white;
  overflow-y: auto;
}

/* .chat_sheet li  {
    list-style-type: none;
   
    
  } */

/* .chat_sheet li div {
    border: none;
    background-color: rgb(223, 228, 237);
    border-radius: 4px;
    width: 100px auto;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    padding: 5px;
    align-items:start;
    word-wrap: break-word;

  } */

.chat_input {
  flex: auto;
  border: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 3px;
}

.fi-rr-angle-small-down {
  font-size: 25px;
  align-self: end;
  color: #558dce;
}

.fi-rr-angle-small-down:hover {
  color: rgb(68, 110, 158);
}

.fi-rr-angle-small-down:hover > .chat {
  visibility: hidden;
  opacity: 0;
}

.input_box {
  margin-top: auto;
  display: flex;
  width: 100%;
}

.button_chat {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(203, 211, 225);
}

.button_chat:hover {
  background-color: rgb(162, 174, 196);
}

.fi-rs-comment-alt {
  font-size: 30px;
  color: rgb(68, 110, 158);
}

.invisible {
  display: none;
}

.dial {
  border: none;
  padding: 0;
  align-items: center;
  width: 400px;
  height: 220px;
  border: none;
  background-color: rgb(234, 235, 238);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: none;
  top: 300px;
  left: calc(50% - 200px);
  color: rgb(71, 98, 130);
  opacity: 0;
}

.dial.is-visible {
  display: block;
  animation: fadeInFromNone 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.dial.is-hidden {
  animation: fadeOutFromBlock 0.3s ease-in-out;
  /* display: none; */
}

.dial::backdrop {
  background-color: rgb(179, 170, 170);
  opacity: 0.65;
}

.dial_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dial_button {
  position: absolute;
  top: 150px;
  left: 35px;
  width: 155px;
  height: 40px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: rgb(146, 170, 197);
  color: white;
}

.dial_button:hover {
  background-color: rgb(68, 110, 158);
}

.dial_button1 {
  position: absolute;
  top: 150px;
  left: 215px;
  width: 155px;
  height: 40px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: rgb(146, 170, 197);
  color: white;
}

.dial_button1:hover {
  background-color: rgb(68, 110, 158);
}

.dial_mess {
  margin-top: 70px;
}

.popup {
  position: fixed;
  width: 500px;
  height: 50px;
  border: none;
  background-color: rgb(147, 158, 184);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: none;
  top: 90%;
  left: calc(50% - 200px);
  color: white;
  padding: none;
  opacity: 0;
}

.popup::backdrop {
  opacity: 0;
}

.popup_box {
  margin: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup_button {
  /* position:absolute;
    top: 2px;
    left: 2px; */
  height: 24px;
  width: 24px;
  border: white solid;
  border-radius: 24px;
  background-color: rgb(147, 158, 184);
  color: white;
  font-size: 12px;
  padding-top: 3px;
}

.popup_mess {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 94%;
}

.popup.is-visible {
  display: block;
  animation: fadeInFromNone 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.popup.is-hidden {
  animation: fadeOutFromBlock 0.3s ease-in-out;
  /* display: none; */
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutFromBlock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width:875px) {
  .burger {
    display: block;
    position: fixed;
  }
  .wrapper {
    display: none;
    margin-right: 15px;
    opacity: 1;
  }

  .wrapper.wrapper_show {
    display: flex;
    animation: fadeInFromNone 0.3s ease-in-out;
  }

  .nav {
    height: 70px;
  }

  .glider {
    left: 45px;
    width: 130px;
  }

  .nav_lab {
    margin: 5px;
  }

  #tab1:checked ~ .glider {
    transform: translateY(-10px);
  }
  
  #tab2:checked ~ .glider {
    transform: translateY(38px);
    /* width: 40px; */
    width: 130px;
  }
  
  #tab3:checked ~ .glider {
    transform: translateY(88px);
    /* width: 40px; */
    width: 130px;
  }
  
  #tab4:checked ~ .glider {
    transform: translateY(138px);
    /* width: 90px; */
    width: 130px;
  }


  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #2d619c; */
    width: 200px;
    top: 150px;
    right: 10px;
  }



  .logo {
    font-size: 30px;
    margin-left: 25px;
  }

  .footer {
    padding: 10px 25px;
    height: 60px;
    font-size: 12px;
    border-style: none;
  }

  .footer__top {
    border-bottom: none;
  }

  .footer__bottom {
    display: none;
  }

  .footer__right {
    font-size: 10px;
  }

  .logo_1 {
    font-size: 20px;
  }

  .bookings_list {
    padding: 5px 20px;

  }

  .popup {
    width: 300px;
    height: 70px;
    left: calc(50% - 150px);
  }

  .popup_mess p{
    
    text-align: center;
    
  }

  .dial {
    width: 330px;
    height: 200px;
    font-size: 14px;
    top: 150px;
    left: calc(50% - 165px);
  }
  
  
  .dial_button {
    width: 100px;
    height: 30px;
    left: 30px;
  }

  .dial_button1 {
    width: 100px;
    height: 30px;
    left: 200px;
  }

}
