*{
    margin: 0;
    padding: 0;
}
.nav{
    padding: 10px 150px;
    
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(6, 39, 99);
    display: flex; 
    justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
    align-items: center; /*размещаем по центру*/
}

.nav_box {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.menu{
    list-style: none;
    height: 100%;
    display: flex; 
    align-items: center; /*размещаем по центру меню*/
    
}
.logo{
    color: rgb(52, 179, 253);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
}
.link{
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 20px; 
}
.link:hover{
    color: rgb(114, 173, 240);
}

.footer {
    flex-shrink: 0;
    padding: 10px 170px;
    height: 140px;
    font-family: 'Montserrat', sans-serif;
    
    background-color: rgb(6, 39, 99);
    display: flexbox; 
    justify-content: space-between; /*раскидываем логотип и меню по разным краям*/
    align-items: center; /*размещаем по центру*/
}

.main {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.contact, .phone, .address, .footer__bottom, .text {
    color: white;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px 0px;
    border-bottom-width: 2px; /* Толщина линии внизу */
    border-bottom-style: solid; /* Стиль линии внизу */
    border-bottom-color: white;
}

.footer__bottom {
    padding: 10px 0px;
}



html,body{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
  }

.bookings_list {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 10px 150px;
    align-items: center;
    
    
}








  .login_bar {

    transition: all 1s ease-out;
  }



