<style>
    .rooms_cart {
        display: flexbox;
        flex-direction: column;
        justify-content: space-between;
        border-color: black;
        background-color: rgb(223, 228, 237);
        font-family: 'Montserrat', sans-serif;
        max-width: 1400px;
        padding: 5px;
        align-items: flex-start;
    }
    

    .room_cart {
        display: flex;
        justify-content: space-between;
        border-color:black;
        background-color: rgb(236, 238, 243);
        font-family: 'Montserrat', sans-serif;
        border-bottom: 2px solid;
        align-items: flex-start;
        border-color: white;
        padding: 5px;
        height: 200px;
    }

    .descr {
        display: flexbox;
        justify-content: first baseline;
        max-width: 400px;
        margin-right: 20px;
    }

    .descr1 {
        display: flexbox;
        justify-content: first baseline;
        max-width: 300px;
        margin-right: 20px;
    }

    .all_descr {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .text_descr {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .serv {
        width: 300px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 15px;
        padding-left: 30px;
        /* margin-right: 20px; */

    }

    .serv1 {
        width: 300px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 15px;
        padding-left: 30px;
        

    }

    .composition1 {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        justify-content: space-between;
        width: 100%;
    }

    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;


    }

    .hotel_img {

        width: 300px;
        height: 200px;
        margin-right: 15px;

    }

    .hotel_rooms {
        padding: 15px;
        margin-right: 10px auto;
        background-color: rgb(236, 238, 243);
    }

    .rooms_head {
        display: flex;
        background-color: rgb(236, 238, 243);
        align-items: center;
        height: 60px;
    }

    .rooms_label {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .cancel {
        display: flex;
        justify-content: right;
        color: rgb(187, 212, 241);
        background-color: rgb(236, 238, 243);
        padding: 15px;
    }

    .cancel:hover {
        color: rgb(86, 142, 206);
    }

    .cart {

        background-color: rgb(187, 212, 241);
        border: 0;
        box-shadow: none;
        padding: 5px 20px;
        color: rgb(85, 85, 107);
        font-family: 'Montserrat', sans-serif;
        width: 120px;

    }

    .cart:hover {
        background-color: rgb(202, 214, 237);
    }

    .room_like {
        display: flex;
        justify-content: end;
        padding-right: 5px;
        padding-top: 12px;
        color: #558dce;
        font-size: 18px;

    }

    .room_like:hover {
        color: rgb(68, 110, 158);
    }

    .button_box {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        margin-left:30px;
        height: 190px;
    }



    #room_id {
        visibility: hidden;
    }

    .notice {
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    .search_el {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(223, 228, 237);

 


    }

    .search {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(85, 85, 107);
        border: none;
        padding: 10px;
        margin-left: 10px;
    }

    .search_date {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(85, 85, 107);
        border: none;
        padding: 10px;
        margin-left: 10px;

    }

    .search_button {
        background-color: rgb(86, 142, 206);
        border: 0;
        box-shadow: none;
        padding: 12px 30px;
        margin-right: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }

    .search_button:hover {
        background-color: rgb(98, 148, 205);
    }

    .inner_box_search {
        display:flex;
        flex-direction: row;
        background-color: rgb(223, 228, 237);
        padding: 25px;


    }

    .datebox {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin:5px;
    }

    @media screen and (max-width:672px) {
        .datebox {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .inner_box_search {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .search_date {
            width: 200px;
        }
        
        .composition1 {
            display: flexbox;
            flex-direction: column;
            font-size: 10px;
        }
        .search_el {
            flex-direction: column;
        }
        .room_cart {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 10px;
            height:auto;
        }
        .all_descr {
            flex-direction: row;
            font-size: 10px;
            height:auto;
        }
        .descr, .descr1{
            width: 200px;
        }
        .hotel_img {
            width: 50%;
            height: 50%;
        }
        .button_box {
            margin: 5px;
            width: 120px;
            height: 70px;
        }
        .cart {
            font-size: 10px;
        }
        .text_descr {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    @media screen and (min-width:673px) and (max-width:1400px){
        .datebox {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .inner_box_search {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .search_date {
            width: 200px;
        }
        
        .composition1 {
            display: flexbox;
            flex-direction: column;
            font-size: 10px;
        }
        .search_el {
            flex-direction: column;
            
        }

        .rooms_cart {
            max-width:780px;
        }

        .room_cart {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 10px;
            height:auto;
        }
        .all_descr {
            flex-direction: row;
            font-size: 10px;
            height:auto;
        }
        .descr, .descr1{
            width: 200px;
        }
        .hotel_img {
            width: 50%;
            height: 50%;
        }
        .button_box {
            margin: 5px;
            width: 120px;
            height: 70px;
        }
        .cart {
            font-size: 10px;
        }
        .text_descr {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .bookings_list {
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px 20px;
            align-items: center;

        }
    }


</style>

<div>
    {% if rooms %}
    <div class="rooms_cart" id={{"rooms_cart" ~ rooms[0].hotel_id}}>
        <div class="rooms_head">
            <div class="rooms_label"><label class="hotel_rooms">Избранное</label></div>
        </div>
        <div class="search_el">
            <div class="inner_box_search">
                <div class="datebox">
                <label class="search" for="date_from">ЗАЕЗД:</label>
                <input type="date" class="search_date" name="date_from" id="date_from" 
                hx-get="/pages/anon_fav_by_date" 
                hx-include="#date_from, #date_to" 
                hx-target="#rooms" 
                hx-swap="innerHTML transition:true">
                </div>
                <div class="datebox">
                <label class="search" for="date_to">ВЫЕЗД:</label>
                <input type="date" class="search_date" name="date_to" id="date_to" 
                hx-get="/pages/anon_fav_by_date" 
                hx-include="#date_from, #date_to" 
                hx-target="#rooms" 
                hx-swap="innerHTML transition:true">
                </div>
            </div>
        </div>
        <div class="rooms" id="rooms">
        {% for room in rooms|sort(attribute="hotel.name") %}
        <div class="room_cart" id="room_cart">
            <div class="hotel_img">
                <img src={{"/static/images/resized_500_300_" ~ room.hotel.image_id ~ ".webp" }}
                    onerror="this.src='/static/images/simple-booking.jpg';">
            </div>
            <div class="composition1">
                <div class="all_descr">
                    <div class="text_descr">
                    <div class="descr">
                        <h3>{{room.hotel.name}}</h3>
            <div>{{room.hotel.location}}</div>
            <div class="serv">
                <div>
                    {% for serv in room.hotel.services %}
                    <ul>
                        <li>{{serv}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div>Номеров: {{room.hotel.rooms_quantity}}</div>          
                    </div>
                    <div class="descr1">
                        <h4>{{room.room.name}}</h4>
                        <div>{{room.room.description}}</div>
                        <div class="serv1">
                            {% for serv in room.room.services %}
                            <ul>
                                <li>{{serv}}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="button_box">
                        <button class="cart" hx-on:click={{"add_cart(" ~ room.room.id ~ "," ~ room.hotel.id
                            ~ ",'rooms_cart" ~ room.hotel_id ~ "')" }}>Добавить в корзину</button>
                        <div class="room_like" 
                        hx-on:click={{"add_fav_single(" ~ room.room.id ~ "," ~ room.hotel.id~ ")" }}>                           
                            <i class="fi fi-ss-heart" id={{room.room.id}}></i>       
                        </div>
                        <div class="clear_box"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        {% else %}
        <div class="notice">Список избранного пуст</div>
        {% endif %}
    </div>
</div>