{% for room in rooms|sort(attribute="hotel.name") %}
        <div class="room_cart" id="room_cart">
            <div class="hotel_img"
            _="on intersection(intersecting) having threshold 0.2
                    if intersecting transition opacity to 1
                    else transition opacity to 0 ">
                <img src="/static/images/resized_500_300_{{room.hotel.image_id}}.webp"
                    onerror="this.src='/static/images/simple-booking.jpg';">
            </div>
            <div class="composition1">
                <div class="all_descr">
                    <div class="text_descr">
                    <div class="descr">
                        <h3>{{room.hotel.name}}</h3>
            <div>{{room.hotel.location}}</div>
            <div class="serv">
                <div>
                    {% for serv in room.hotel.services %}
                    <ul>
                        <li>{{serv}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            <div>Номеров: {{room.hotel.rooms_quantity}}</div>            
                    </div>
                    <div class="descr1">
                        <h4>{{room.room.name}}</h4>
                        <div>{{room.room.description}}</div>
                        <div class="serv1">
                            {% for serv in room.room.services %}
                            <ul>
                                <li>{{serv}}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="button_box">
                        <button class="cart" hx-on:click="add_cart({{room.room.id}},{{room.hotel.id}}
                            ,'rooms_cart{{room.hotel_id}}')">Добавить в корзину</button>
                        <div class="room_like" 
                        hx-on:click="add_fav_single({{room.room.id}},{{room.hotel.id}})">                           
                            <i class="fi fi-ss-heart" id={{room.room.id}}></i>        
                        </div>
                        <div class="clear_box"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}