<style>
    .wrapper {

        margin-right: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .tabs {
        background: rgb(6, 39, 99);
        padding-bottom: 23px;
        padding-top: 7px;
        align-items: center;
        display: flex;
        position: relative;

    }


    input[type="radio"] {
        display: none;
    }

    .nav_lab {

        height: 40px;
        margin: 15px;
        font-size: 16px;

        color: white;
        display: flex;

        align-items: end;
        cursor: pointer;
        z-index: 2;
    }

    .nav_lab:hover {
        color: rgb(114, 173, 240);
    }

    .glider {
        position: absolute;
        top: 35px;
        left: 15px;
        background: rgb(223, 228, 237);
        width: 130px;
        height: 30px;
        transition: ease .5s;
    }

    #tab1:checked~label[for="tab1"] {
        color: rgb(71, 98, 130);
    }

    #tab2:checked~label[for="tab2"] {
        color: rgb(71, 98, 130);
    }

    #tab3:checked~label[for="tab3"] {
        color: rgb(71, 98, 130);
    }

    #tab4:checked~label[for="tab4"] {
        color: rgb(71, 98, 130);
    }

    #tab5:checked~label[for="tab5"] {
        color: rgb(71, 98, 130);
    }

    #tab6:checked~label[for="tab6"] {
        color: rgb(71, 98, 130);
    }

    #tab1:checked~.glider {
        transform: translateX(0px);
        visibility: visible;
    }

    #tab2:checked~.glider {
        transform: translateX(141px);
        width: 200px;
    }

    #tab3:checked~.glider {
        transform: translateX(358px);
        width: 157px;
    }

    #tab4:checked~.glider {
        transform: translateX(526px);
        width: 40px;
    }

    #tab5:checked~.glider {
        transform: translateX(588px);
        width: 40px;
    }

    #tab6:checked~.glider {
        transform: translateX(635px);
        width: 90px;
    }

    .sup {
        margin: 3px;
    }

    .burger {
        display: none;
        width: 20px;
        height: 14px;
        cursor: pointer;
        position: absolute;
        top: 26px;
        right: 30px;
        z-index: 6;
    }

    .burger-close span:first-child {
        opacity: 0;
    }

    .burger-close span:nth-child(2) {
        transform: rotate(45deg);
    }

    .burger-close span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .burger-close span:last-child {
        opacity: 0;
    }

    .burger span {
        background: #fff;
        height: 2px;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .burger span:first-child {
        top: 0;
    }

    .burger span:nth-child(2) {
        top: 6px;
    }

    .burger span:nth-child(3) {
        top: 6px;
    }

    .burger span:last-child {
        top: 12px;
    }

    @media screen and (max-width:1256px) {
        .burger {
            display: block;
            position: fixed;
        }

        .wrapper {
            display: none;
            margin-right: 0px;
            opacity: 1;
        }

        .wrapper_show {
            display: flex;
            animation: fadeInFromNone 0.3s ease-in-out;
        }

        .nav {
            height: 70px;
        }

        .glider {
            left: 10px;
            width: 200px;
        }

        .nav_lab {
            margin: 5px;
        }

        #tab1:checked~.glider {
            transform: translateY(-10px);
            width: 200px;
        }

        #tab2:checked~.glider {
            transform: translateY(38px);
            /* width: 40px; */
            width: 200px;
        }

        #tab3:checked~.glider {
            transform: translateY(88px);
            /* width: 40px; */
            width: 200px;
        }

        #tab4:checked~.glider {
            transform: translateY(138px);
            /* width: 90px; */
            width: 200px;
        }

        #tab5:checked~.glider {
            transform: translateY(188px);
            /* width: 90px; */
            width: 200px;
        }

        #tab6:checked~.glider {
            transform: translateY(238px);
            /* width: 90px; */
            width: 200px;
        }

        .tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* background-color: #2d619c; */
            width: 200px;
            top: 205px;
            right: 5px;
        }

        .logo {
            margin-left: 25px;
            font-size: 30px;
        }
    }
</style>

 


<nav id="nav" class="nav" _="on click from .nav_lab toggle .burger-close on .burger
then toggle .wrapper_show on .wrapper" _="on load remove .wrapper_show from me">
    <span class="logo" hx-get="/pages/banners" hx-swap="innerHTML transition:true"
        hx-target="#bookings_list">ONBOOK</span>
    <div class="wrapper">
        <div class="tabs">
            <input type="radio" name="tabs" checked id="tab1" >
            <label class="nav_lab" for="tab1" hx-get="/pages/search" hx-target="#bookings_list" hx-push-url="true"
            hx-indicator="#progress_1"
                hx-swap="innerHTML transition:true" hx-push-url="true">Поиск отелей</label>

            <input type="radio" name="tabs" checked id="tab2" >
            <label class="nav_lab" for="tab2"  hx-get="/pages/my_bookings" hx-target="#bookings_list"
            hx-indicator="#progress_1"
                hx-swap="innerHTML transition:true" hx-push-url="true">
                <div>Мои бронирования<sup class="sup">{{book_count}}</sup></div>
            </label>

            <input type="radio" name="tabs" checked id="tab3" >
            <label class="nav_lab" for="tab3"  hx-get="/pages/personal_account" hx-target="#bookings_list"
            hx-indicator="#progress_1"
                hx-swap="innerHTML transition:true" hx-push-url="true">Личный кабинет</label>

            <input type="radio" name="tabs" checked id="tab4" >
            <label class="nav_lab" for="tab4"  hx-get="/pages/my_fav" hx-push-url="true" hx-target="#bookings_list"
            hx-indicator="#progress_1"
                hx-swap="innerHTML transition:true">

                <div><i class="fi fi-rs-heart"></i><sup class="sup">{{fav_count}}</sup></div>
            </label>

            <input type="radio" name="tabs" checked id="tab5" >
            <label class="nav_lab" for="tab5"  hx-get="/pages/cart" hx-target="#bookings_list" hx-push-url="true"
            hx-indicator="#progress_1"
                hx-swap="innerHTML transition:true">
                <div>
                    <i class="fi fi-rr-shopping-cart" id="cart"></i><sup class="sup">{{cart_count}}</sup>
                </div>
                <!-- hx-on:click="logoutUser()" -->
            </label>
            
            <input type="radio" name="tabs" checked id="tab6" >
            <label class="nav_lab" for="tab6" 
            _='on click fetch /auth/logout as json with method:"POST" 
            then if result.message == "Logged out successfully"  reload() the location of window'
            >Выйти
            </label>
            <div class="glider"></div>
        </div>
    </div>
</nav>
<nav class="burger"
_="on click toggle .burger-close on .burger
                then toggle .wrapper_show on .wrapper">
    <span></span>
    <span></span>
    <span></span>
    <span></span>  
</nav>









