<style>

    .edit_personal {
            
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 17px;
        background-color: rgb(223, 228, 237);
        width: 500px;
        height: 170px;
        display: flexbox;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .edit_data {
        display: flex;
        padding: 5px;
        justify-content: space-between;
        
    }
    
    .editor_inp {
        width: 300px;
        border-style: none;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
    
    }
    
    .done_btn {
        height: 40px;
        width: 90px;
        background-color: rgb(187, 212, 241);
        margin: 10px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 18px; 
    }

    #done {
        visibility: hidden;
    }
   
    
    .done {
        display:flex;
        justify-content: flex-end;
    }

    .status {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        width: 250px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width:672px) {
    .edit_personal {
        width:320px;
        height: 145px;
    }
    .editor_inp {
        width: 200px;
        font-size: 14px;
    }
    .edit_data label {
        font-size: 12px;
    }
    .done_btn {
        font-size: 14px;
        height: 30px;
        width: 70px;
    }

}
    </style>
    <div class="edit_personal" id="edit_personal">
        <form>
        <div class="edit_data"><label class="" for="old_pass">Старый пароль:</label><input id="old_pass" class="editor_inp" type="password" name="password" required></div>
        <div class="edit_data"><label class="" for="new_pass">Новый пароль:   </label><input id="new_pass" class="editor_inp" type="password" name="new_password" id="new_pass" required></div>
        <div class="edit_data"><label class="" for="new_pass_re">Новый пароль</label><input id="new_pass_re" class="editor_inp" type="password" name="new_pass_re" id="new_pass_re" required hx-on:keyup="verify_password()"></div>
        <div class="done">
            <div class="status"><label id="status" ></label></div>
            <div class="done_btn" id="done" role="button"  hx-headers="{'Content-Type': 'application/json'}" 
            hx-ext='json-enc' hx-post="/auth/change_pass" hx-target="#status" 
            hx-indicator="#progress_1" hx-swap="innerHTML" hx-on::after-request="view_message()"><i class="fi fi-br-check" ></i></div>
            <div class="done_btn"
            _="on click toggle the *display of .edit_personal" 
            ><i class="fi fi-br-cross"></i></div>
        </div>
    </form>
    </div>
    
    
    