<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/menu.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <!-- For Version 1 -->

    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', path='js/scripts.js') }}"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script>
        document.addEventListener('htmx:afterRequest', function (evt) {
            if (evt.detail.xhr.status == 401) {
                /* Notify the user of a 404 Not Found response */
                alert('Войдите в систему');
                refresh_anon_nav();
            }})
            

        

        
    </script>

    <title>ONBOOK</title>
</head>

<body id="main" >
    <div id="nav_box">
        <nav id="nav" class="nav">
            <span class="logo" hx-get="/pages/banners" 
            hx-swap="innerHTML transition:true"
            hx-target="#bookings_list"
            >ONBOOK</span>
            <div class="wrapper">
                <div class="tabs">
                    <input type="radio" name="tabs" checked id="tab1">
                    <label class="nav_lab" for="tab1" hx-get="/pages/search" hx-target="#bookings_list"
                        hx-swap="innerHTML transition:true">Поиск отелей</label>
                    <input type="radio" name="tabs" checked id="tab2">
                    <label class="nav_lab" for="tab2" hx-get="pages/anon_fav" hx-target="#bookings_list">
                        <div><i class="fi fi-rs-heart"></i><sup class="sup">{{fav_count}}</sup></div>
                    </label>
                    <input type="radio" name="tabs" checked id="tab3">
                    <label class="nav_lab" for="tab3" hx-get="pages/cart/anon" hx-target="#bookings_list"
                        hx-swap="innerHTML transition:true">
                        <div>
                            <i class="fi fi-rr-shopping-cart" id="cart"></i><sup class="sup">{{cart_count}}</sup>
                        </div>
                    </label>
                    <input type="radio" name="tabs" checked id="tab4">
                    <label class="nav_lab" for="tab4" hx-get="/pages/login" hx-target="#login_bar"
                        hx-swap="innerHTML transition:true">Войти</label>
                    <div class="glider"></div>
                </div>
            </div>
        </nav>
    </div>

    <div id="login_bar" class="login_bar"></div>
    <div id="bookings_list" class="bookings_list" hx-swap="outerHTML transition:true"><span></span></div>
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__left">
                <div class="logo_1">ONBOOK</div>
                <div class="text">Simple booking</div>
            </div>
            <div class="footer__right">
                <div class="contact">Как с нами связаться</div>
                <div class="phone">+7 (800)800-20-20</div>
                <div class="address">Екатеринбург, ул.Московская, д.3</div>
            </div>
        </div>
        <div class="footer__bottom">ONBOOK All rights reserved.</div>
    </footer>
</body>

</html>