<style>
    .logpanel {
        padding: 15px;
        margin: 15px auto;
        background-color: aliceblue;
        display: flexbox;
        
        width: 30%;
    }

    .log {
        font-size: 18px;
        margin: 10px auto;
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 10px auto;
        
    }

    .log_el {
        width: 80px;
    }

    button {
        border-radius: 4px;
        background-color: rgb(63, 129, 205);
        border: 0;
        box-shadow: none;
        padding: 10px 20px;
        margin: 10px;
        
    }

</style>

<div class="logpanel">
    <div class="box">
        <label for="email" class="log_el">Email:</label>
        <input id="email" class="log" type="email">
    </div>
    <div class="box">
        <label for="password" class="log_el">Пароль:</label>
        <input id="password" class="log" type="password"></div>
    
    <div class="box"><span id="wrong_credentials" class="text-sm text-red-400"></span>
    <button hx-on:click="loginUser()">Войти</button>
    <span>Зарегистрироваться</span></div>
</div>