<style>
    .book_cart {
        font-size: 14px;
        display: flex;
        border-color: black;
        background-color: rgb(223, 228, 237);
        justify-content: space-between;
        margin: 5px auto;
        font-family: 'Montserrat', sans-serif;
        width:940px;

    }

    .info {
        margin-right: 50px;
    }

    .book_cart:disabled {
        pointer-events: none;
        /* for "disabled" effect */
        opacity: 0.5;

    }

    .descript {

        margin: 10px;

    }

    .descript label {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        }


    label {

        font-family: 'Montserrat', sans-serif;
    }

    .onbk {
        background-color: rgb(187, 212, 241);
        border: 0;
        box-shadow: none;
        padding: 10px 20px;
        margin: 10px;
        font-family: 'Montserrat', sans-serif;

    }

    .onbk:hover {
        background-color: rgb(202, 214, 237);
    }

    .cart_item {
        width: 250px;
        font-family: 'Montserrat', sans-serif;
        margin: 2px;
        display: block;
    }

    .pic {

        display: flex;
        align-items: self-start;
        width: 300px;
        height: 200px;
        margin: 15px;



    }

    .img_cart {

        object-fit: scale-down;
        width: 100%;
        height: 100%;
        margin-left: 5px;

    }

    .book_cart.htmx-swapping {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .notice {
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    .choice {
        margin-top: 3px;
        margin-right: 10px;
        transform: scale(1.5);

    }

    .unbook {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
        font-size: 20px;
        color: rgb(86, 142, 206);

    }

    .unbook:hover {
        color: rgb(68, 110, 158);
    }

    .order_booking {
        display: flex;
        justify-content: end;
    }

    .unavailable {
        font-family: 'Montserrat', sans-serif;
        color: red;
        font-size: 14px;
        padding-left: 50px;
    }

    .info {
        display: flexbox;
    }

    .room_like {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 5px;
        padding-top: 15px;
        color: rgb(86, 142, 206);
        font-size: 18px;

    }

    .room_like:hover {
        color: rgb(68, 110, 158);
    }


    .like_trash {
        display: flex;
    }

    .content_like_trash {
        width: 340px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media screen and (max-width:680px) {
        .book_cart {
            flex-direction: column;
            width:320px;
            font-size: 10px;
        }

        .unavailable {
            font-size: 12px;
            padding-left: 25px;
        }

        .pic  {
            width:50%;
            height:50%;
        }

        .descript {
            max-width: 230px;
        }

        .descript li {
            width: 190px;
            margin-right: 15px;
            margin-left: 15px;
            display: block;
        }

        .descript label {
            font-weight: bold;
        }

        .room_like , .unbook{
            padding-top: 10px;
        }

        .info {
            border-bottom: rgb(86, 142, 206);
            border-bottom-style: solid;
            width:100%;
        }

        .content_like_trash {
        width: 240px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        }
    }

    @media screen and (min-width:680px) and (max-width:1300px){
        .book_cart {
            flex-direction: row;
            width:650px;
            font-size: 10px;
        }

        .unavailable {
            font-size: 12px;
            padding-left: 50px;
        }

        .pic  {
            width:80%;
            height:80%;
        }

        .descript {
            max-width: 230px;
        }

        .descript li {
            width: 190px;
            margin-right: 15px;
            margin-left: 15px;
            display: block;
        }

        .descript label {
            font-weight: bold;
        }

        /* .room_like , .unbook{
            padding-top: 10px;
        } */

        
    }
</style>







<div id="bookkk">
{% if bookings %}
{% for item in bookings|sort(attribute="id") %}
{% if item.date_from >= date %}
<div class="book_cart" id={{item.room_id}}
_="on intersection(intersecting) having threshold 0.5
                    if intersecting transition opacity to 1
                    else transition opacity to 0 ">
    {% else %}
    <div class="book_cart" id={{item.room_id}} style="background:rgb(244, 244, 244);">
        {% endif %}
        <div class="info">
            <div class="pic">
                {% if item.date_from >= date %}
                <input type="checkbox" name={{item.id}} value={{item.room_id ~ '/' ~ item.date_from ~ '/' ~
                    item.date_to}} class="choice" checked="true">
                {% else %}
                <input type="checkbox" name={{item.id}} value={{item.room_id}} class="choice" disabled="true">
                {% endif %}
                <img class="img_cart" src="/static/images/resized_500_300_{{item.image_id}}.webp"
                    onerror="this.src='/static/images/simple-booking.jpg';">
            </div>
            {% if item.date_from < date %} <div class="unavailable">В данный момент вариант недоступен
        </div>
        {% endif %}
    </div>
    <div class="content_like_trash">
    <div class="descript">
        <ul>
            <li class="cart_item"><label class="cart">Id брони: </label><span>{{item.id}}<span></li>
            <li class="cart_item"><label class="cart">Отель: </label><span>{{item.name_1}}<span></li>
            <li class="cart_item"><label class="cart">Расположение: </label><span>{{item.location}}<span></li>
            <li class="cart_item"><label class="cart">Id номера: </label><span>{{item.room_id}}</span></li>
            <li class="cart_item"><label class="cart">Категория: </label><span>{{item.name}}</span></li>
            <li class="cart_item"><label class="cart">Описание: </label><span>{{item.description}}</span></li>
            <li class="cart_item"><label class="cart">Дата заезда: </label><span>{{item.date_from}}</span></li>
            <li class="cart_item"><label class="cart">Дата выезда: </label><span>{{item.date_to}}</span></li>
            <li class="cart_item"><label class="cart">Всего дней: </label><span>{{item.total_days}}</span></li>
            <li class="cart_item"><label class="cart">Стоимость: </label><span>{{item.total_cost}}</span></li>
        </ul>
    </div>
    <div class="like_trash">
        <div class="room_like" 
        hx-indicator="#progress_1"
        hx-on:click="add_fav_from_cart({{item.room_id}},{{item.hotel_id}})">
            {% if item.room_id in fav %}
            <i class="fi fi-ss-heart"></i>
            {% else %}
            <i class="fi fi-rs-heart"></i>
            {% endif %}
        </div>
        <div class="unbook" hx-delete="/cart/{{item.id}}" hx-confirm="Удалить позицию из корзины?"
        hx-indicator="#progress_1"
            hx-on:htmx:after-request="refresh_nav(); refresh_my_cart()"
            ><i class="fi fi-rr-trash"></i></div>
    </div>
    </div>
</div>
{% endfor %}
<div class="order_booking"><button class="onbk" hx-on:click="book_all_checked();refresh_nav()"
    hx-indicator="#progress_1"
        hx-swap="innerHTML transition:true">Оформить бронирование</button></div>
{% else %}
<div class="notice">Пустая корзина</div>
{% endif %}
</div>
<script>
    function disables(name) {
        var el = document.getElementById(name);
        el.background = 'white';
        // document.querySelector("#demoA fieldset").disabled = false;
        return false;
    }
</script>
