{% for book in past_book %}
            <div class="room_cart"
            _="on intersection(intersecting) having threshold 0.2
                    if intersecting transition opacity to 1
                    else transition opacity to 0 ">
                <div class="hotel_img">
                    <img src="{{s3}}resized_500_300_{{book.room.image_id}}.webp"
                        onerror="this.src='/static/images/simple-booking.jpg';">
                </div>
                <div class="composition1">
                    <div class="all_descr">
                        <div class="text_descr">
                            <div class="descr" hx-get="/pages/hotel/id/{{book.room.hotel_id}}"
                                hx-indicator="#progress_1" hx-trigger="load"></div>
                            <div class="descr">
                                <h4>{{book.room.name}}</h4>
                                <div>{{book.room.description}}</div>
                                <div>Цена: {{book.room.price}}/сутки</div>
                                <div>Дата визита: {{book.date_from}} - {{book.date_from}}</div>
                                <div>Количество дней: {{book.total_days}}</div>
                                <div>Общая стоимость: {{book.total_cost}}</div>
                            </div>
                            <div class="serv">
                                <div>
                                    {% for serv in book.room.services %}
                                    <ul>
                                        <li>{{serv}}</li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="button_box" id="box{{book.id}}">
                            <button class="cart" hx-indicator="#progress_1" hx-on:click="add_cart({{book.room.id}}
                                ,{{book.room.hotel_id}},'rooms_cart{{book.room.hotel_id}}')"
                                >Повторить</button>
                            <div class="room_like" hx-indicator="#progress_1" hx-on:click="add_fav_single(
                                {{book.room.id}},{{book.room.hotel_id}})">
                                {% if book.room.id in fav %}
                                <i class="fi fi-ss-heart" id={{book.room.id}}></i>
                                {% else %}
                                <i class="fi fi-rs-heart" id={{book.room.id}}></i>
                                {% endif %}
                            </div>
                            
                            <div class="clear_box" id="box_gen{{book.id}}">
                                <form id="form{{book.id}}"
                                    hx-post="/pages/rate" hx-ext="json-enc" 
                                    hx-headers="{'Content-Type': 'application/json'}"
                                    hx-vals='{"ids": "{{book.id}}"}'
                                    hx-target="#box_gen{{book.id}}"
                                    hx-swap="innerHTML"
                                    hx-trigger="click from:.radio{{book.id}}"
                                    hx-indicator="#progress_1"
                                    >
                                <div class="rating-area" id="area{{book.id}}">
                                    {% if book.rate == 5 %}
                                    <input type="radio" id="star-5{{book.id}}" name="rate" value="5" class="radio{{book.id}}" checked> 
                                    {% else %}
                                    <input type="radio" id="star-5{{book.id}}" name="rate" value="5" class="radio{{book.id}}">
                                    {% endif %}
                                    <label for="star-5{{book.id}}" title="Оценка «5»"><i class="fi fi-ss-star"></i>
                                    </label>
                                    {% if book.rate == 4 %}
                                    <input type="radio" id="star-4{{book.id}}" name="rate" value="4" class="radio{{book.id}}" checked> 
                                    {% else %}
                                    <input type="radio" id="star-4{{book.id}}" name="rate" value="4" class="radio{{book.id}}">
                                    {% endif %}
                                    <label for="star-4{{book.id}}" title="Оценка «4»"><i class="fi fi-ss-star"></i></label>
                                    {% if book.rate == 3 %}
                                    <input type="radio" id="star-3{{book.id}}" name="rate" value="3" class="radio{{book.id}}" checked> 
                                    {% else %}
                                    <input type="radio" id="star-3{{book.id}}" name="rate" value="3" class="radio{{book.id}}">
                                    {% endif %}
                                    <label for="star-3{{book.id}}" title="Оценка «3»"><i class="fi fi-ss-star"></i></label>
                                    {% if book.rate == 2 %}
                                    <input type="radio" id="star-2{{book.id}}" name="rate" value="2" class="radio{{book.id}}" checked> 
                                    {% else %}
                                    <input type="radio" id="star-2{{book.id}}" name="rate" value="2" class="radio{{book.id}}">
                                    {% endif %}
                                    <label for="star-2{{book.id}}" title="Оценка «2»"><i class="fi fi-ss-star"></i></label>
                                    {% if book.rate == 1 %}
                                    <input type="radio" id="star-1{{book.id}}" name="rate" value="1" class="radio{{book.id}}" checked> 
                                    {% else %}
                                    <input type="radio" id="star-1{{book.id}}" name="rate" value="1" class="radio{{book.id}}">
                                    {% endif %}
                                    <label for="star-1{{book.id}}" title="Оценка «1»"><i class="fi fi-ss-star"></i></label>
                                </div>
                            </form>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if count >= offset+3 %}
            <span hx-get="/pages/personal_account_archive_next"
            hx-vals='{"offset": "{{offset + 3}}"}'
            hx-swap="outerHTML transition:true"
            hx-indicator="#progress_1"
            hx-trigger="revealed"></span>
            {% endif %}