{% if past_book %}
    {% for book in past_book %}
    <div class="room_cart">
        <div class="hotel_img"
        _="on intersection(intersecting) having threshold 0.5
                    if intersecting transition opacity to 1
                    else transition opacity to 0 ">
            <img src="/static/images/resized_500_300_{{book.room.image_id}}.webp"
                onerror="this.src='/static/images/simple-booking.jpg';">
        </div>
        <div class="composition1">
            <div class="all_descr">
                <div class="text_descr">
                <div class="descr" hx-get="/pages/hotel/id/{{book.room.hotel_id}}" 
                hx-indicator="#progress_1"
                hx-trigger="load"></div>
                <div class="descr">                   
                    <div>{{book.room.name}}</div>
                    <div>{{book.room.description}}</div>
                    <div>Цена: {{book.room.price}}/сутки</div>
                    <div>Дата визита: {{book.date_from}} - {{book.date_from}}</div>
                    <div>Количество дней: {{book.total_days}}</div>
                    <div>Общая стоимость: {{book.total_cost}}</div>
                </div>
                <div class="serv">
                    <div>
                        {% for serv in book.room.services %}
                        <ul>
                            <li>{{serv}}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>               
                <div class="button_box">
                    <button class="cart" hx-indicator="#progress_1" hx-on:click="add_cart({{book.room.id}},{{book.room.hotel_id}}
                        ,'rooms_cart{{book.room.hotel_id}}')">Повторить</button>
                    <div class="room_like" hx-indicator="#progress_1" hx-on:click="add_fav_single({{book.room.id}},{{book.room.hotel_id}})">
                        {% if book.room.id in fav %}
                        <i class="fi fi-ss-heart" id={{book.room.id}}></i>
                        {% else %}
                        <i class="fi fi-rs-heart" id={{book.room.id}}></i>
                        {% endif %}
                    </div>
                    <div class="clear_box"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="notice">Список прошедших бронирований пуст</div>
    {% endif %}