<style>
    .hotel_cart {
        display: flexbox;
        align-items: center;
        background-color: rgb(223, 228, 237);
        font-family: 'Montserrat', sans-serif;
        margin: 2px;
        padding: 5px;
        height: 400px;
        /* min-height: 500px; */
        width: 280px;
        gap: 5px;

    }

    .descr {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;


    }

    .all_descr {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 14px;


    }





    

    .composition_block {
        display: flex;
        flex-direction: column;
        margin: 10px;

        width: 95%;
        



    }



    /* img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;


    } */

    .hotel_img {
        background: rgb(223, 228, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 210px;
        /* margin-right: 15px; */
        background-image: "/static/images/simple-booking.jpg";
        position: relative;
        transition: 0.5s ease-in-out;
        overflow: hidden;

    }

    .profile-pic {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /* border-radius: 23px; */
        z-index: 1;
        /* border: 5px solid white; */
        overflow: hidden;
        transition: 0.5s ease-in-out 0.3s


    }

    .rate_box {
        position: absolute;
        left: 10px;
        top:10px;
        width: 40px;
        height: 30px;
        background-color: white;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10px;
        box-shadow: 0px 0px 10px 0px rgb(175, 174, 174);
        
    }

    .rate_label {
        position: absolute;
        z-index: 1000;
        font-size: 14px;
        font-weight: bold;
        color: rgb(85, 85, 107);
    }

    .profile-pic img {
        object-fit: cover;
        max-width: 110%;
        max-height: 110%;
        position: relative;
        transition: 0.5s ease-in-out;
    }

    .hotel_img:hover .profile-pic{
        width: 100px;
        height: 100px;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        border: 5px solid var(--prime-color);
        /* box-shadow: 0 0 10px #1115; */
        transition: 0.5s ease-in-out;
        z-index: 3;
    }

    .hotel_img:hover .profile-pic img {
        transform: scale(1.6);
        top: 2px;
        transition: 0.5s ease-in-out;
    }


    .hotel_img:hover .profile-pic .rate_box {
        border-radius: 50%;
        top: 12px;
        transition: 0.5s ease-in-out;
    }


    .serv {
        position:absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 2;
        top: 80%;
        background: rgb(241, 242, 246);
        color: white;
        /* border-radius: 26px; */
        width: 280px;
        font-family: 'Montserrat', sans-serif;
        /* box-shadow:  0px 0px 1px 1px rgba(155, 155, 155, 0.267); */
        transition: 0.3s ease-in-out 0.2s;

    }

    .hotel_img:hover .serv {
        top: 20%;
        /* border-radius: 80px 25px 25px 25px; */
        transition: 0.5s ease-in-out 0.2s;
        z-index: 2; 
    }

    .content {
        position:absolute;
        top: -300px;
        left: 50px;
        opacity: 0;
        transition: 0.5s ease-in-out 0s;
        color: black;
        font-size: 14px;

    }

    

    .hotel_img:hover .content {
        top: 80px;
        opacity: 1;
        transition: 0.5s ease-in-out 0.5s;
        opacity: 0.5s ease-in-out 1s;
    }

    .content h4 {
        margin-left: 100px;
        margin-top: -60px;
    }

    .content .list_serv {
        margin-top: 20px;
    }

    .fi-br-search {
        position:absolute;
        bottom: 5px;
        right: 10px;
        color: rgb(68, 110, 158);

    }



    :root {
        --prime-color: rgb(223, 228, 237);
        --hover-color: rgb(187, 197, 216);
    }




    .rooms_sec {
        background-color: rgb(223, 228, 237);
        min-height: min-content;
        margin-left: 5px;
        margin-right: 5px;
        

    }

    .hotel_paragraph {
        display: flex;
        padding: 2px;
        background-color: rgb(223, 228, 237);
        margin-top: 5px;
    }



    .hotel_like {
        display: flex;
        justify-content: end;
        padding-right: 5px;
        padding-top: 12px;

    }

    .hotel_like:hover {
        color: red;
    }

    .button_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 190px;
        margin-right: 10px;
        margin-left:30px;

    }

    .hotels_discover {

        background-color: rgb(187, 212, 241);
        border: 0;
        box-shadow: none;
        padding: 5px 20px;
        color: rgb(85, 85, 107);
        font-family: 'Montserrat', sans-serif;
        width: 120px;

    }

    .hotels_discover:hover {
        background-color: rgb(202, 214, 237);
    }

    .clear_box {
        height: 120px;
    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px auto;

    }

    .top {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        align-items: center;
        width: fit-content;
        margin: 30px auto;
        text-align: center;
    }
</style>


<div class="top">ТОП БРОНИРОВАНИЙ</div>
<div class="banner">

{% for room in rooms_hotels %}
    <div class="card">
        <div class="hotel_cart">
            <div class="hotel_img">
                <div class="profile-pic">
                <img src={{"/static/images/" ~ room.hotel.image_id ~ ".jpg" }}
                    onerror="this.src='/static/images/simple-booking.jpg';">
                    <div class="rate_box">
                        <label class="rate_label">
                            {% if room.hotel.rate != 0 %}
                            {{room.hotel.rate}}
                            {% else %}
                            {{"NEW"}}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <div class="serv">
                    <div class="content">
                    <h4>Количество комнат: {{room.hotel.rooms_quantity}}</h4>
                    <div class="list_serv">
                    {% for serv in room.hotel.services %}
                    <ul>
                        <li>{{serv}}</li>
                    </ul>
                    {% endfor %}
                </div>
                </div>
                <i class="fi fi-br-search"></i>
                </div>
            </div>
            <div class="composition_block">
                
                    <div class="descr">
                        <h3>{{room.hotel.name}}</h3>
                        <div>{{room.hotel.location}}</div>
                        
                    </div>
                   
                    <div>{{room.name}}</div>
            </div>
        
    </div>
</div>

{% endfor %}
</div>