<style>
    .logpanel {
        padding: 15px;
        margin: 15px auto;
        background-color: rgb(223, 228, 237);
        display: flex;
        flex-direction: column;
        
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        width: 40%;
        transition: all 3s ease-in;
        color: rgb(85, 85, 107);
        max-width: 500px;
        min-width: 330px;
    }



    .log {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin: 5px auto;
        border: none;
        color: rgb(85, 85, 107);
        padding: 10px;
    }

    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 5px auto;
        width: 100% auto;

    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin: 5px auto;
        width: 100% auto;

    }

    .log_el {
        width: 80px;
        color: white;
        margin: 5px auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: rgb(85, 85, 107);
    }

    .log_button {
        
        background-color: rgb(187, 212, 241);
        border: 0;
        box-shadow: none;
        padding: 10px 30px;
        margin: 5px auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        cursor: pointer;
    }

    .log_button:hover {
        background-color: rgb(215, 222, 245);
    }

    .reg {
        color: white;
    }

    .reg:hover {
        color: rgb(2, 23, 62);
    }

    .text-sm_text-red-400 {
        color: white;
        margin: 5px auto;
    }

    .cancel {
        display: flex;
        justify-content: right;
        color: white;
    }

    .cancel:hover {
        color: black;
    }

    @media screen and (max-width: 780px) {
        .logpanel {
            width: 330px;
            max-width: none;
            font-size: 14px;
            display: flex;
            flex-direction: column;
        }

        .box {
            width: 300px;
        }

        .log_el, .log {
            font-size: 14px;
        }
    }
</style>

<div class="logpanel" id="logpanel">
    
    <div class="cancel"><i class="fi fi-br-cross" hx-on:click='cancel("logpanel")'></i></div>
    <div class="box">
        <label for="email" class="log_el" id="l_em">Email:</label>
        <input id="email" class="log" type="email">
    </div>
    <div class="box">
        <label for="password" class="log_el" id="l_pass">Пароль:</label>
        <input id="password" class="log" type="text">
    </div>
    <div class="box1"><span id="wrong_credentials" class="text-sm_text-red-400"></span>
        <button class="log_button" id="log_button" 
        hx-on:click="regUser()"
        >Зарегистрироваться</button>
    </div>
    
</div>

<!--  -->