<style>
    .rooms_cart {
        display: flexbox;
        flex-direction: column;
        
        justify-content: flex-start;
        border-color: black;
        background-color: rgb(223, 228, 237);
        font-family: 'Montserrat', sans-serif;

        padding: 5px;
        align-items: center;





    }

    .room_cart {
        display: flex;
        
        justify-content: space-between;
        border-color:black;
        background-color: rgb(236, 238, 243);
        font-family: 'Montserrat', sans-serif;
        border-bottom: 2px solid;

        border-color: white;
        padding: 5px;
        height: 200px;



        align-items: center;
    }

    .descr {
        display: flexbox;
        justify-content: first baseline;

    }

    .all_descr {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .serv {
        width: 300px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 15px;
        padding-left: 30px;

    }

    .text_descr {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .composition1 {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        justify-content: space-between;
        width: 100%;


    }



    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;


    }

    .hotel_img {

        width: 300px;
        height: 200px;
        margin-right: 15px;

    }

    .hotel_rooms {
        padding: 15px;
        margin-right: 10px auto;
        background-color: rgb(236, 238, 243);
    }

    .rooms_head {
        display: flex;
        background-color: rgb(236, 238, 243);
        align-items: center;
        height: 90px;
    }

    .rooms_label {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .cancel {
        display: flex;
        justify-content: right;
        color: rgb(187, 212, 241);
        background-color: rgb(236, 238, 243);
        padding: 15px;
    }

    .cancel:hover {
        color: rgb(86, 142, 206);
    }

    .cart {

        background-color: rgb(187, 212, 241);
        border: 0;
        box-shadow: none;
        padding: 5px 20px;
        color: rgb(85, 85, 107);
        font-family: 'Montserrat', sans-serif;
        width: 120px;

    }

    .cart:hover {
        background-color: rgb(202, 214, 237);
    }

    .room_like {
        display: flex;
        justify-content: end;
        padding-right: 5px;
        padding-top: 12px;
        color: rgb(86, 142, 206);
        font-size: 18px;

    }

    .room_like:hover {
        color: rgb(68, 110, 158);
    }

    .button_box {
        display: flex;
        flex-direction: column;

        height: 190px;
    }

    .clear_box {
        height: 120px;
    }

    #room_id {
        visibility: hidden;
    }

    @media screen and (max-width:680px) {
        .rooms_cart {
            width: 324px;
        }
        .room_cart {
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width:313px;
            height:auto;
            margin-left: 0px;
        }

        .hotel_paragraph {
            padding: none;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .descr, .serv {
            font-size: 10px;
        }

        .serv {
            width: 100px;
        }
        .cart {
            font-size: 10px;
            width: 80px;
            padding: 5px 10px;
        }
        .hotel_img {
            width: 50%;
            height:50%;
            object-fit: scale-down;
        }
        
        .rooms_label label {
            font-size: 14px;
        }

        .hotel_rooms {
            padding: 5px;
        }

        .rooms_head {
            height: 55px;
            width:323px;
        }
        .composition1 {
            height:auto;
        }
        .clear_box {
            height: 90px;
        }
        .button_box {
            height:120px;
        }

        .text_descr {
            width: 200px;
        }


    }

    @media screen and (min-width:680px) and (max-width:1000px){
        .room_cart {
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            
            height:auto;
            margin-left:0px;
        }

        .hotel_paragraph {
            padding: none;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .descr, .serv {
            font-size: 10px;
        }

        .text_descr {
            flex-direction: column;
        }

        .cart {
            font-size: 10px;
            width: 80px;
            padding: 5px 10px;
        }
        .hotel_img {
            width: 50%;
            height:50%;
            object-fit: scale-down;
        }
        
        .rooms_label label {
            font-size: 14px;
        }

        .hotel_rooms {
            padding: 5px;
        }

        .rooms_head {
            height: 55px;
        }
        .composition {
            border-top-color: rgb(86, 142, 206);
            border-top-style: solid;
            display:flex;
            flex-direction: row;
            margin: 0px;
            padding-top:15px;
            
        }
        .clear_box {
            height: 90px;
        }
        .button_box {
            height:120px;
        }


    }
</style>


<div>
    <div class="rooms_cart" id={{"rooms_cart" ~ rooms[0].hotel_id}}>
        <div class="rooms_head">
            <div class="rooms_label"><label class="hotel_rooms">Список доступных номеров</label></div>
            <div class="cancel"><i class="fi fi-br-cross "  hx-on:click={{"cancel('rooms_cart" ~ rooms[0].hotel_id
                    ~"')"}}></i></div>
        </div>
        {% for room in rooms|sort(attribute="name") %}
        <div class="room_cart">
            <div class="hotel_img">
                <img src={{"/static/images/resized_500_300_" ~ room.image_id ~ ".webp" }}
                    onerror="src='/static/images/simple-booking.jpg';">
            </div>
            <div class="composition1">
                <div class="all_descr">
                    <div class="text_descr">
                    <div class="descr">
                        <h4>{{room.name}}</h4>
                        <div>{{room.description}}</div>
                        <div>Цена: {{room.price}}/сутки</div>
                        <div>Общая стоимость: {{room.total_cost}}</div>
                        <div>Свободных номеров: {{room.rooms_left}}</div>
                        <!-- <div><input id="room_id" value={{room.id}}></div> -->
                    </div>
                    <div class="serv">
                        <div>
                            {% for serv in room.services %}
                            <ul>
                                <li>{{serv}}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <div class="button_box">
                        <button class="cart" hx-indicator="#progress_1" hx-on:click={{"add_cart(" ~ room.id ~ "," ~ room.hotel_id
                            ~ ",'rooms_cart" ~ room.hotel_id ~ "')" }}>Добавить в корзину</button>
                        <div class="room_like" hx-indicator="#progress_1" hx-on:click={{"add_fav(" ~ room.id ~ "," ~ room.hotel_id
                            ~ ",'rooms_cart" ~ room.hotel_id ~ "')" }}>
                            {% if room.id in fav %}
                            <i class="fi fi-ss-heart"></i>
                            {% else %}
                            <i class="fi fi-rs-heart"></i>
                            {% endif %}
                        </div>
                        <div class="clear_box"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>