<div class="search">
    <label class="search" for="location">Расположение</label><input type="text" class="search" name="location" id="location">
    <label class="search" for="fate_from">Заезд</label><input type="date" class="search" name="date_from" id="date_from">
    <label class="search" for="date_to">Выезд</label><input type="date" class="search" name="date_to" id="date_to">
    <button class="search" hx-get="./hotels/" 
    hx-include="*"
    hx-target="#hotels">Найти</button>
</div>
<div id="hotels"></div>
