<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/app.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <title>Document</title>
</head>
<body>
    <div hx-ext="ws" ws-connect="/chat/wsock/1">
        <div id="chat_room">
        <div id="cons">
            <div class="tw-chat tw-chat-start" id="">
                <div class="tw-chat-bubble" id="mes"></div>
              </div>
              </div>
              <div class="tw-chat tw-chat-end">
                <div class="tw-chat-bubble"></div>
              </div>
        </div>
        <form id="form" ws-send="">
            <input name="chat_message">
        </form>
    </div>
    <script>
        
        let par = document.getElementById("chat_room");
        document.body.addEventListener("htmx:wsBeforeMessage", (data) => {  
            par.insertAdjacentHTML('beforeend', data.detail.message);
        })
    </script>
</body>
</html>